/* page reset */
* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --text-color: #fff;
    --primary-color: #00fa;
    --secondary-color: #0ffa;
    --primary-color-dark: #003;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    color: var(--text-color);
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(80deg, var(--primary-color-dark), #00fa, var(--primary-color))
}
main {
    width: 100%;
    height: 100%;
}

/* CREATING NEW TODO ACTIVITY STYLES */
.create_todo_activity {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.create_todo_activity_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.create_todo_activity_btn img {
    width: 40px;
    aspect-ratio: 1;
}
.create_todo_activity_btn p {
    font-size: 1.4rem;
    padding-top: 0.3rem;
}

/* TODO ACTIVITY FORM STYLES */
.form_container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    
    background: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(2px) brightness(0.2);
}

.todo_activity_form {
    width: max(5vw, 500px);
    height: fit-content;
    padding: 1rem 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 20px;
    
    border-radius: 10px;
    border: 1px solid silver;
    box-shadow: 0px 2px 9px #0008;
}

form div,
#todo_activity_time-elapsed {
    width: 100%;
    height: 3rem;
}
form div input {
    width: 100%;
    height: 100%;
}
.todo_activity_form_activity {
    width: 50%;
    margin: 1rem auto;
    height: 50px;
    background: #ddd;
}

/* TODO ACTIVITY CONTAINER */
.todo_activity_main_container {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 80px;
}

/* TODO ACTIVITY CONTAINER */
.todo_activity_container {
    width: min(100%, 400px);
    height: min(fit-content, 60dvh);

    border: 1px solid;
    border-radius: 5px;

    background: var(--secondary-color);
    overflow: hidden;
}
header,
.activity_container {
    padding: 0.5rem;
    display: flex;
    align-items: center;
}
header {
    background-color: var(--primary-color-dark);
}
.todo_activity_delete {
    width: 20px;
}



/* SPECIAL CLASSES */
.hidden {
    display: none;
}

/* GENERAL DEFAULT STYLES */
button {
    cursor: pointer;
}


